<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>





		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>MegaDev</string>
			<key>user</key>
			<string>omegaluldev</string>
		</dict>


	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Toggle</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.megadev.coronacount</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
			<key>PostNotification</key>
			<string>com.megadev.Coronapref/ReloadPrefs</string>
		</dict>

			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Counter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.megadev.coronacount</string>
			<key>key</key>
			<string>type</string>
			<key>validTitles</key>
			<array>
				<string>Cases</string>
				<string>Deaths</string>
        <string>Recovered</string>
			
			</array>
			<key>validValues</key>
			<array>
				  <integer>0</integer>
				<integer>1</integer>
  <integer>2</integer>

			</array>
			<key>default</key>
			<integer>0</integer>
			<key>PostNotification</key>
            <string>com.megadev.coronacount-prefsreload</string>
		</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Toggle (Press 'Return' to apply')</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.megadev.coronacount</string>
			<key>key</key>
			<string>customcountry</string>
			<key>label</key>
			<string>Enable Custom Region</string>
			<key>PostNotification</key>
			<string>com.megadev.Coronapref/ReloadPrefs</string>
		</dict>


			<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>megacorona</string>
			<key>defaults</key>
			<string>com.megadev.Coronapref</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>Type a country</string>
			<key>placeholder</key>
			<string>USA,France,etc</string>
			<key>PostNotification</key>
			<string>com.megadev.Coronapref/ReloadPrefs</string>
		</dict>

	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Huge thanks EliteDaMyth for allowing me to use his APi Links below!</string>
		</dict>
<dict>
    <key>cellClass</key>
    <string>HBLinkTableCell</string>
    <key>icon</key>
    <string>github.png</string>
    <key>label</key>
    <string>Github Source Code (API)</string>
    <key>url</key>
    <string>https://github.com/NovelCOVID/API</string>
</dict>


<dict>
    <key>cellClass</key>
    <string>HBLinkTableCell</string>
    <key>icon</key>
    <string>discord.png</string>
    <key>label</key>
    <string>Discord Bot</string>
    <key>url</key>
    <string>https://corona.lmao.ninja/invite</string>
</dict>


			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>B3rry (Inpired by BerryC8) check it out!</string>
		</dict>
<dict>
    <key>cellClass</key>
    <string>HBPackageTableCell</string>
    <key>label</key>
    <string>B3rry</string>
    <key>packageIdentifier</key>
    <string>com.megadev.b3rry</string>

</dict>

	</array>
	<key>title</key>
	<string>Corona</string>
</dict>
</plist>
